.cu-card > figure:last-child {
  @apply mb-6;
}

.cu-card > *:not(a):not(figure):last-child:not(.cu-card-stats) {
  @apply pb-7;
}

.cu-card > a {
  @apply flex flex-col h-full gap-3 pb-7;
}

.cu-card > a:hover h2,
.cu-card > a:hover h3 {
  @apply text-cu-red-700;
}

.cu-card header h2 a,
.cu-card header h3 a {
  @apply block hover:text-cu-red-700;
}

.cu-card img:not(.cu-icon-thumb) {
  @apply object-cover w-full h-full;
}

.cu-figure img,
.cu-figure svg {
  @apply w-full;
}

.cu-card .cu-figure--round img,
.cu-card .cu-figure--round svg {
  @apply mx-auto h-32 w-32 rounded-full border-4 border-white object-cover shadow-md @sm:md:h-48 @sm:md:w-48;
}

.cu-card-button a {
  @apply gap-1 p-3 text-sm font-medium rounded-md md:px-6;
}

/* Solid Button Styles */

.cu-card-button-red.cu-card-button-solid a {
  @apply text-white bg-cu-red hover:bg-cu-black-600;
}

.cu-card-button-grey.cu-card-button-solid a {
  @apply text-cu-black-700 bg-cu-black-50 hover:text-white hover:bg-cu-black-600;
}

.cu-card-button-dark-grey.cu-card-button-solid a {
  @apply text-white bg-cu-black-600 hover:bg-cu-red;
}

.cu-card-button-white.cu-card-button-solid a {
  @apply bg-white text-cu-black-800 hover:text-white hover:bg-cu-red;
}

/* Outline Button Styles */

.cu-card-button-red.cu-card-button-outline a {
  @apply bg-transparent border text-cu-red border-cu-red hover:text-white hover:bg-cu-red;
}

.cu-card-button-grey.cu-card-button-outline a {
  @apply bg-transparent border border-cu-black-100 text-cu-black-700 hover:bg-cu-black-100 hover:text-cu-black-900;
}

.cu-card-button-dark-grey.cu-card-button-outline a {
  @apply bg-transparent border text-cu-black-700 border-cu-black-600 hover:text-white hover:bg-cu-black-600;
}

.cu-card-button-white.cu-card-button-outline a {
  @apply border border-white text-cu-black-800 hover:bg-white hover:text-cu-red;
}
