.alert-success a{
    @apply text-green-700;
    font-weight: bold;
}

.alert-success a:hover{
    text-decoration: underline
}

.alert-error a{
    @apply text-cu-red-700;
    font-weight: bold;
}

.alert-error a:hover{
    text-decoration: underline
}

.alert-warning a{
    @apply text-yellow-700;
    font-weight: bold;
}

.alert-warning a:hover{
    text-decoration: underline
}

.alert-info a{
  @apply text-blue-700;
  font-weight: bold;
}

.alert-info a:hover{
    text-decoration: underline
}